<!DOCTYPE html>
<!-- one-mc-show/templates/index.twig -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" value="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  </head>
  <body class="centered-horizontal">
    <div class="container" style="text-align: center">
      <div class="textBox" style="width: 100%; font-size: 20px;">
        Images from the <a href="http://the1moto.com/">2017 One Motorcycle show in Portland, OR</a>
        </br>
      </div>
      {% for imgKey in imageList -%}
      <div class="imageBox" id="{{ imgKey }}">
        <a href="{{ imageRoot }}/images/{{ imgKey }}.jpg">
          <img src="{{ imageRoot }}/images/{{ imgKey }}.jpg"
               height="480" width="640" alt="{{ imgKey }}.jpg">
        </a>
        </br>
        <div class="textBox" id="{{ imgKey }}">
          {{ descriptions[imgKey] }}
        </div>
      </div>
    {% endfor -%}
    </div>
  </body>
</html
