<!-- one-mc-show/templates/index.twig -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" value="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="assets2_0_5/css/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.cs/s">
  </head>
  <body>
    <div class="imageBox">
      <div class="textBox">
        Images from the 2017 One Motorcycle show in Portland, OR
      </div>
      </br>
        {% for img in imageList -%}

        <a href="{{ imageRoot }}/images/{{ img }}">
          <img src="{{ imageRoot }}/images/{{ img }}"
               height="480" width="640" alt="{{ img }}">
        </a>
        {% endfor %}
      </body>
</html
